@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        width: 100% !important;
        min-height: 100dvh;
        overflow-x: hidden !important;
        position: relative;
    }
}
